{% extends 'layout.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content %}

<div class="masonry-item col-md-6 ta-c" style="position: relative; margin-left:auto; margin-right:auto;">
	<div class="bd bgc-white">
		<div class="layers">
			<div class="layer w-100 p-20">
				<h5>Anomaly Data Form</h5>
			</div>
		</div>
		<div class="ta-l bdT w-100 p-20">
			<form action="" method="post">
				{% bootstrap_form_errors form %}
				{% csrf_token %}

				<div class="form-group row">
					<div class="col-6">
						{% bootstrap_field form.sensor_id %}
					</div>
					<div class="col-6">
						{% bootstrap_field form.asset_category %}
					</div>
				</div>

				<div class="form-group row">
					<div class="col-6">
										<div class="form-group"><label for="id_anomaly_start">Anomaly Start</label>
					<div class="input-group date" id="id_anomaly_start" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" name="anomaly_start" data-target="#id_anomaly_start" required="True" {% if form.anomaly_start.value %}value="{{form.anomaly_start.value}}"{% endif %}/>
                    <div class="input-group-append" data-target="#id_anomaly_start" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
					</div>
					<div class="col-6">
				<div class="form-group"><label for="id_anomaly_end">Anomaly End</label>
					<div class="input-group date" id="id_anomaly_end" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" name="anomaly_end" data-target="#id_anomaly_end" required="True"{% if form.anomaly_end.value %}value="{{form.anomaly_end.value}}"{% endif %}/>
                    <div class="input-group-append" data-target="#id_anomaly_end" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
					</div>
				</div>



				<button type="submit" class="btn btn-primary btn-block">Submit</button>

			</form>
		</div>

	</div>
</div>

{% endblock %}

{% block extra_js %}

		<script type="text/javascript">
            $(function () {
                $('#id_anomaly_start').datetimepicker({
                	 format: 'DD MM YYYY HH:mm',
                });
                $('#id_anomaly_end').datetimepicker({
                	 format: 'DD MM YYYY HH:mm',

                });
            });
        </script>
{% endblock %}
