@font-face {
    font-family: 'e23a7dcaefbde4e74e263247aa42ecd7';
    src: url('/static/font/e23a7dcaefbde4e74e263247aa42ecd7.ttf');
}
@font-face {
    font-family: 'b06871f281fee6b241d60582ae9369b9';
    src: url('/static/font/b06871f281fee6b241d60582ae9369b9.ttf');

}
@font-face {
    font-family: '674f50d287a8c48dc19ba404d20fe713';
    src: url('/static/font/674f50d287a8c48dc19ba404d20fe713.eot');
}
@font-face {
    font-family: 'a1ecc3b826d01251edddf29c3e4e1e97';
    src: url('/static/font/a1ecc3b826d01251edddf29c3e4e1e97.woff');
}
@font-face {
    font-family: 'fee66e712a8a08eef5805a46892932ad';
    src: url('/static/font/fee66e712a8a08eef5805a46892932ad.woff');
}
@font-face {
    font-family: 'af7ae505a9eed503f8b8e6982036873e';
    src: url('/static/font/af7ae505a9eed503f8b8e6982036873e.woff2');
}



