{% extends 'layout.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<div class="row gap-20 masonry pos-r">
	<div class="masonry-sizer col-md-6">
		<br>
	</div>
</div>
<div class="row gap-20 mT-20 masonry pos-r">

	<div class="masonry-item col-md-6">
		<div class="bd bgc-white p-20">
			<div class="layers">
				<div class="layer w-100 mB-10">
					<h6 class="lh-1">
					Permission Request</h6>
				</div>
				<div class="layer w-100">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Username</th>
								<th scope="col">Last Accessed</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for preq in permission_requests %}
							<tr>
								<th scope="row">1</th>
								<td>{{ preq.user }}</td>
								<td>{{ preq.last_access|naturaltime}}</td>
								<td>{% if preq.is_allowed %}			<span class="peer" style="margin-left:auto;margin-right:auto;">
									<span id="access-status-{{preq.id}}" class="badge badge-pill badge-success lh-0 p-10">
									Allowed</span>
								</span>

								{% else %}	<span class="peer" style="margin-left:auto;margin-right:auto;">
									<span id="access-status-{{preq.id}}" class="badge badge-pill badge-danger lh-0 p-10">
									Denied</span>
								</span>
							{% endif %}</td>
							<td>
								<form class="ajax-form" action="." method="post" >
									{% csrf_token %}
									<input type="hidden" form-name="permission_request_form">
									<input type="hidden" name="accessid" value="{{preq.id}}">

									{% if preq.is_allowed %}
									<input id="permission_status-{{preq.id}}" type="hidden" name="permission_status" value="0">
									<button id="access-btn-{{preq.id}}" type="submit" class="btn btn-danger btn-sm">Revoke</button>


									{% else %}
									<input id="permission_status-{{preq.id}}" type="hidden" name="permission_status" value="1">
									<button class="btn btn-success btn-sm" id="access-btn-{{preq.id}}" type="submit" value="True">Allow</button>
									{% endif %}


								</form>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</div>

<div class="row gap-20 mT-20 masonry pos-r">


	<div class="masonry-item col-md-12">
		<div class="bd bgc-white p-20">
			
			<h5>All Sensor List</h5>
			<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Description</th>
							<th scope="col">ID</th>
							<th scope="col">Asset Category</th>
							<th scope="col">Asset Name</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for sensor in all_sensor_list %}
						<tr>
							<td>{{ sensor.sensor_description}}</td>
							<td>{{ sensor.sensor_id }}</td>
							<td>{{ sensor.asset_category}}</td>
							<td>{{ sensor.asset_name}}</td>

							<td><form method="post" action="." class="sensorform">
								{% csrf_token %}
								<input type="hidden" name="sensorid" value="{{forloop.counter}}">
								<input type="hidden" name="form-name" value="sensorform">
								<input type="hidden" name="sensor_id" value="{{sensor.sensor_id}}">
								{% if sensor.sensor_id in selected_sensors %}
								<input id="ss-{{forloop.counter}}" type="hidden" name="select_status" value="0">
								<button id="sbtn-{{forloop.counter}}"  class="btn btn-danger btn-sm sensorbtn" type="submit">Remove From Dashboard</button>

									{% else %}
										
								<input id="ss-{{forloop.counter}}" type="hidden" name="select_status" value="1">
								<button id="sbtn-{{forloop.counter}}"  class="btn btn-success btn-sm sensorbtn"type="submit">Add To Dashboard</button>
								{% endif %}
							</form>
								
								</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
</div>


</div>

{% endblock %}



{% block extra_js %}
<script type="text/javascript">
	$('.ajax-form').on('submit', function(e){
		e.preventDefault();
		accessid = $(e.currentTarget).find("input[name=accessid]").val();
		$('#access-btn-' + accessid).html('<span class="spinner-border spinner-border-sm"></span> processing... ');
		$('#access-btn-' + accessid).removeClass('btn-danger');
		$('#access-btn-' + accessid).removeClass('btn-success');
		$('#access-btn-' + accessid).addClass('btn-secondary');
		$.ajax({
			method: $(this).attr('method'),
			url: $(this).attr('action'),
			data: $(this).serialize(),

		}).done(function(data){
			if (data.access_request == true){

				$('#access-status-' + accessid).removeClass('badge-danger');
				$('#access-status-' + accessid).addClass('badge-success');
				$('#access-status-' + accessid).html('allowed');
				
				$('#permission_status-' + accessid).val(0);

				$('#access-btn-' + accessid).removeClass('btn-secondary');
				$('#access-btn-' + accessid).addClass('btn-danger');
				$('#access-btn-' + accessid).html('Revoke');
				



				} else if (data.access_request == false) {
				$('#access-status-' + accessid).removeClass('badge-success');
				$('#access-status-' + accessid).addClass('badge-danger');
				$('#access-status-' + accessid).html('denied');
				
				$('#permission_status-' + accessid).val(1);
				
				$('#access-btn-' + accessid).removeClass('btn-secondary');
				$('#access-btn-' + accessid).addClass('btn-success');
				$('#access-btn-' + accessid).html('Allow')


				}
			}).fail(function(data){
			alert("An error occured");	
			console.log(data);
		});
	});

	$('.sensorform').on('submit', function(e){
		sid = $(e.currentTarget).find('input[name=sensorid]').val();

		e.preventDefault();
		$('.sensorbtn').prop('disabled', true);
		$.ajax({
			method: $(this).attr('method'),
			url: $(this).attr('action'),
			data: $(this).serialize(),
		}).done(function(data){

			if (data.show_on_dashboard == true){
				$('#ss-' + sid).val(0);
				$('#sbtn-' + sid).removeClass('btn-success');
				$('#sbtn-' + sid).addClass('btn-danger');
				$('#sbtn-' + sid).html('Remove From Dashboard');

				count = parseInt($('#sensor_count').text());
				count += 1;
				$('#sensor_count').text(count);


			} else if(data.show_on_dashboard == false){
				$('#ss-' + sid).val(1);
				$('#sbtn-' + sid).removeClass('btn-danger');
				$('#sbtn-' + sid).addClass('btn-success');
				$('#sbtn-' + sid).html('Add To Dashboard');

				count = parseInt($('#sensor_count').text());
				count -= 1;
				$('#sensor_count').text(count);
			}

		$('.sensorbtn').prop('disabled', false);

		}).fail(function(data){
			alert("An error occured");	
			console.log(data);
		});


	});

</script>
{% endblock %}