{% extends './layout.html' %}
{% load staticfiles %}
{% block content %}


<div class="row gap-20 masonry pos-r">
	<div class="masonry-sizer col-md-6">
	</div>
	<div class="masonry-item w-100">
		<div class="row gap-20">
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						Total Visits</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">
							<div class="peer peer-greed">
								<span id="sparklinedash">
								</span>
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">
								+10%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						Total Page Views</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">
							<div class="peer peer-greed">
								<span id="sparklinedash2">
								</span>
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">
								-7%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						Unique Visitor</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">
							<div class="peer peer-greed">
								<span id="sparklinedash3">
								</span>
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">
								~12%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						Bounce Rate</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">
							<div class="peer peer-greed">
								<span id="sparklinedash4">
								</span>
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">
								33%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row gap-20">
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						Total Visits</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">
							<div class="peer peer-greed">
								<span id="sparklinedash">
								</span>
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">
								+10%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						Total Page Views</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">
							<div class="peer peer-greed">
								<span id="sparklinedash2">
								</span>
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">
								-7%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						Unique Visitor</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">
							<div class="peer peer-greed">
								<span id="sparklinedash3">
								</span>
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">
								~12%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						Bounce Rate</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">
							<div class="peer peer-greed">
								<span id="sparklinedash4">
								</span>
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">
								33%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row gap-20 masonry pos-r">
	<div class="col-md-9">
		<div class="bd bgc-white">
			<div class="layers">
				<div class="layer w-100 pX-20 pT-20">
					<h6 class="lh-1">
					Monthly Stats</h6>
				</div>
				<div class="layer w-100 p-20">
					<canvas id="line-chart" height="220">
					</canvas>
				</div>
				<div class="layer bdT p-20 w-100">
					<div class="peers ai-c jc-c gapX-20">
						<div class="peer">
							<span class="fsz-def fw-600 mR-10 c-grey-800">
								10% <i class="fa fa-level-up c-green-500">
								</i>
							</span>
							<small class="c-grey-500 fw-600">
							APPL</small>
						</div>
						<div class="peer fw-600">
							<span class="fsz-def fw-600 mR-10 c-grey-800">
								2% <i class="fa fa-level-down c-red-500">
								</i>
							</span>
							<small class="c-grey-500 fw-600">
							Average</small>
						</div>
						<div class="peer fw-600">
							<span class="fsz-def fw-600 mR-10 c-grey-800">
								15% <i class="fa fa-level-up c-green-500">
								</i>
							</span>
							<small class="c-grey-500 fw-600">
							Sales</small>
						</div>
						<div class="peer fw-600">
							<span class="fsz-def fw-600 mR-10 c-grey-800">
								8% <i class="fa fa-level-down c-red-500">
								</i>
							</span>
							<small class="c-grey-500 fw-600">
							Profit</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="bd bgc-white p-20" style="min-height:384px;">
			<div class="layers">
				<div class="layer w-100 mB-20">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-primary">Day</button>
						<button type="button" class="btn btn-primary active">Week</button>
						<button type="button" class="btn btn-primary">Month</button>
					</div>
				</div>

				<div class="layer w-100 mB-20">
					<select name="frequency" class="form-control">
						<Option>KPI 1</Option>
						<Option>KPI 2</Option>
						<Option>KPI 3</Option>
						<Option>KPI 4</Option>
						<Option>KPI 5</Option>
						<Option>KPI 6</Option>
						<Option>KPI 7</Option>
						<Option>KPI 8</Option>
					</select>
				</div>
				<div class="layer w-100">
					<button class="btn btn-primary btn-block">Download Report</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row gap-20 masonry pos-r">
	{% if request.user.is_superuser %}
	<div class="masonry-item col-md-6">
		<div class="bd bgc-white p-20">
			<div class="layers">
				<div class="layer w-100 mB-10">
					<h6 class="lh-1">
					Permission Request</h6>
				</div>
				<div class="layer w-100">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Username</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for preq in permission_requests %}
							<tr>
								<th scope="row">1</th>
								<td>{{ preq.user }}</td>
								<td>{% if preq.is_allowed %}			<span class="peer" style="margin-left:auto;margin-right:auto;">
									<span class="badge badge-pill badge-success lh-0 p-10">
									Allowed</span>
								</span>

								{% else %}					<span class="peer" style="margin-left:auto;margin-right:auto;">
									<span class="badge badge-pill badge-danger lh-0 p-10">
									Denied</span>
								</span>
							{% endif %}</td>
							<td>
								<form class="ajax-form" action="." method="post">
									{% csrf_token %}
									{% if preq.is_allowed %}<button class="btn btn-danger btn-sm" name="permission_status" value="False">Revoke</button>
								</span>

								{% else %}
								<button class="btn btn-success btn-sm" name="permission_status" value="True">Allow</button>
								{% endif %}
								
								
							</form>
						</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
{% endif %}


<div class="masonry-item col-md-12">
	<div class="bd bgc-white">
		<div class="layers">
			<div class="layer w-100 table-responsive p-20">
				<h6 class="lh-1">
				Sensor Data Table</h6>
				<br>
				<form class="form-inline">
					<div class="input-group">
						<label for="entries">
							Show
							<select name="entries" id="id_entries" class="form-control w-10">
								<option value="10">10</option>
								<option value="30">30</option>
								<option value="50">50</option>
								<option value="all">All</option>
							</select>
							entries
						</label>
					</div>

				</form>
				<br>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">date</th>
							<th scope="col">sensor_id</th>
							<th scope="col">sensor_description</th>
							<th scope="col">day_avg</th>
							<th scope="col">week_avg</th>
							<th scope="col">month_avg</th>
							<th scope="col">day_pct_change</th>
							<th scope="col">week_pct_change</th>
							<th scope="col">month_pct_change</th>
						</tr>
					</thead>
					<tbody>
						{% for sensor in sensor_data %}
						<tr>
							<td>{{ sensor.date }}</td>
							<td>{{ sensor.sensor_id}}</td>
							<td>{{ sensor.sensor_description}}</td>
							<td>{{ sensor.day_avg }}</td>
							<td>{{ sensor.week_avg }}</td>
							<td>{{ sensor.month_avg }}</td>
							<td>{{ sensor.day_pct_change }}</td>
							<td>{{ sensor.week_pct_change }}</td>
							<td>{{ sensor.month_pct_change }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
</div>
<div class="row gap-20 masonry pos-r">
	<div class="col-md-12">
		<div class="bd bgc-white">
			<div class="layers">
				<div class="layer w-100 pX-20 pT-20">
					<h6 class="lh-1">
					Monthly Stats</h6>
				</div>
				<div class="layer w-100 p-20">
					<canvas id="sensor-line-chart" height="220">
					</canvas>
				</div>
				<div class="layer bdT p-20 w-100">
					<div class="peers ai-c jc-c gapX-20">
						<div class="peer">
							<span class="fsz-def fw-600 mR-10 c-grey-800">
								10% <i class="fa fa-level-up c-green-500">
								</i>
							</span>
							<small class="c-grey-500 fw-600">
							APPL</small>
						</div>
						<div class="peer fw-600">
							<span class="fsz-def fw-600 mR-10 c-grey-800">
								2% <i class="fa fa-level-down c-red-500">
								</i>
							</span>
							<small class="c-grey-500 fw-600">
							Average</small>
						</div>
						<div class="peer fw-600">
							<span class="fsz-def fw-600 mR-10 c-grey-800">
								15% <i class="fa fa-level-up c-green-500">
								</i>
							</span>
							<small class="c-grey-500 fw-600">
							Sales</small>
						</div>
						<div class="peer fw-600">
							<span class="fsz-def fw-600 mR-10 c-grey-800">
								8% <i class="fa fa-level-down c-red-500">
								</i>
							</span>
							<small class="c-grey-500 fw-600">
							Profit</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$('.ajax-form').on('submit', function(e){
		e.preventDefault();
		$(this).html = 'processing...';
		button = $(this).find('button');
		$.ajax({
			method: $(this).attr('method'),
			url: $(this).attr('action'),
			data: $(this).serialize(),

		}).done(function(data){
			console.log(data);

		}).fail(function(data){
			console.log(data);

		});
	});

	new Chart(document.getElementById("sensor-line-chart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Day Avg",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [282,350,411,502,635,809,947,1402,3700,5267],
        label: "Week Avg",
        borderColor: "#8e5ea2",
        fill: false
      },
    ]
  },
	  options: {
	    title: {
	      display: true,
	      text: 'Sensor Data'
	    }
	  }
	});
</script>
{% endblock %}

