{% extends './layout.html' %}
{% load staticfiles %}
{% block content %}


<div class="row gap-20 masonry pos-r">
	<div class="masonry-sizer col-md-6">
	</div>
	<div class="masonry-item w-100">
		<div class="row gap-20">
			{% for eachsensor in sensor_data %}
			<div class="col-md-3">
				<div class="layers bd bgc-white p-20">
					<div class="layer w-100 mB-10">
						<h6 class="lh-1">
						{{eachsensor.sensor_description}}</h6>
					</div>
					<div class="layer w-100">
						<div class="peers ai-sb fxw-nw">

							<div class="peer peer-greed">
							{% if freq == "day" %}
								{{eachsensor.day_avg|default_if_none:"-"|floatformat:2}}
							{% elif freq == 'week' %}
								{{eachsensor.week_avg|default_if_none:"-"|floatformat:2}}
							{% elif freq == 'month' %}
								{{eachsensor.month_avg|default_if_none:"-"|floatformat:2}}
							{% endif %}
							</div>
							<div class="peer">
								<span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">
							{% if freq == 'day' %}
								{{eachsensor.day_pct_change|default_if_none:"-"|floatformat:2}}
							{% elif freq == 'week' %}
								{{eachsensor.week_pct_change|default_if_none:"-"|floatformat:2}}
							{% elif freq == 'month' %}
								{{eachsensor.month_pct_change|default_if_none:"-"|floatformat:2}}
							{% endif %}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>

<div class="row gap-20 masonry pos-r">
	<div class="col-md-9">
		<div class="bd bgc-white">
			<div class="layers">
				<div class="layer w-100 pX-20 pT-20">
					<h6 class="lh-1">
					{{ picked.sensor_description }}</h6>
				</div>
				<div class="layer w-100 pX-20 pB-20">
					<canvas id="sensor-line-chart" height="220">
					</canvas>
				</div>

			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="bd bgc-white p-20" style="min-height:384px;">
			<div class="layers">
				<div class="layer w-100 mB-20">

					<div class="btn-group btn-block" role="group" aria-label="Basic example">
						<button type="button" data-value="day" class="btn btn-primary freq-btn {% ifequal freq 'day' %}active{% endifequal %}">Day</button>

						<button type="button" data-value="week" class="btn btn-primary freq-btn {% ifequal freq 'week' %}active{% endifequal %}">Week</button>
						<button type="button" data-value="month" class="btn btn-primary freq-btn {% ifequal freq 'month' %}active{% endifequal %}">Month</button>
					</div>
				</div>

				<div class="layer w-100 mB-20">
					<select id="sensor_id" name="sensor_id" class="form-control">
						{% for sensoropt in sensor_data %}
						<Option value="{{sensoropt.sensor_id}}" {% ifequal sensor_id sensoropt.sensor_id %} selected="selected" {% endifequal %}>{{ sensoropt.sensor_description}}</Option>
						{% endfor %}
					</select>
				</div>
				<div class="layer w-100 mB-20">
					<div class="form-inline">
						<label for="entries" class="w-100">
							<span class="w-20 pX-5">Show</span>
							<select name="entries" id="entries" class="form-control w-60">
								<option value="10" {% ifequal entries '10' %}selected="selected"{% endifequal %}>10</option>
								<option value="30" {% ifequal entries '30' %}selected="selected"{% endifequal %}>30</option>
								<option value="50" {% ifequal entries '50' %}selected="selected"{% endifequal %}>50</option>
								<option value="all" {% ifequal entries 'all' %}selected="selected"{% endifequal %}>All</option>
							</select>
							<span class="w-20 pX-5">entries</span>
						</label>
					</div>



				</div>
				<div class="layer w-100">
					<form target='_blank' action="{% url 'core:download-pdf' %}" method="get">
					<button class="btn btn-primary btn-block">Download Report</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row gap-20 masonry pos-r">
	{% if request.user.is_superuser %}
	<div class="masonry-item col-md-6">
		<div class="bd bgc-white p-20">
			<div class="layers">
				<div class="layer w-100 mB-10">
					<h6 class="lh-1">
					Permission Request</h6>
				</div>
				<div class="layer w-100">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Username</th>
								<th scope="col">Status</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							{% for preq in permission_requests %}
							<tr>
								<th scope="row">1</th>
								<td>{{ preq.user }}</td>
								<td>{% if preq.is_allowed %}			<span class="peer" style="margin-left:auto;margin-right:auto;">
									<span class="badge badge-pill badge-success lh-0 p-10">
									Allowed</span>
								</span>

								{% else %}					<span class="peer" style="margin-left:auto;margin-right:auto;">
									<span class="badge badge-pill badge-danger lh-0 p-10">
									Denied</span>
								</span>
							{% endif %}</td>
							<td>
								<form class="ajax-form" action="." method="post">
									{% csrf_token %}
									{% if preq.is_allowed %}<button class="btn btn-danger btn-sm" name="permission_status" value="False">Revoke</button>
								</span>

								{% else %}
								<button class="btn btn-success btn-sm" name="permission_status" value="True">Allow</button>
								{% endif %}
								
								
							</form>
						</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
{% endif %}


<div class="masonry-item col-md-12">
	<div class="bd bgc-white">
		<div class="layers pT-20 pB-20">
			<div class="layer w-100 p-20">
				<h6 class="lh-1 text-center mB-20">
				Sensor Data Table - {{sensor_data.0.date}}</h6>
				
				<table class="table w-100 table-striped">
					<thead>
						<tr>
							<th scope="col">sensor_description</th>
							<th scope="col">day_avg</th>
							<th scope="col">week_avg</th>
							<th scope="col">month_avg</th>
							<th scope="col">day_pct_change</th>
							<th scope="col">week_pct_change</th>
							<th scope="col">month_pct_change</th>
						</tr>
					</thead>
					<tbody>
						{% for sensor in sensor_data %}
						<tr>
							<td>{{ sensor.sensor_description}}</td>
							<td>{{ sensor.day_avg|floatformat:2 }}</td>
							<td>{{ sensor.week_avg|floatformat:2 }}</td>
							<td>{{ sensor.month_avg|floatformat:2 }}</td>
							<td>{{ sensor.day_pct_change|floatformat:2 }}</td>
							<td>{{ sensor.week_pct_change|floatformat:2 }}</td>
							<td>{{ sensor.month_pct_change|floatformat:2 }}</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
</div>


</div>

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
	$('.ajax-form').on('submit', function(e){
		e.preventDefault();
		$(this).html = 'processing...';
		button = $(this).find('button');
		$.ajax({
			method: $(this).attr('method'),
			url: $(this).attr('action'),
			data: $(this).serialize(),

		}).done(function(data){
			console.log(data);

		}).fail(function(data){
			console.log(data);

		});
	});


	function updateQueryStringParameter(uri, key, value) {
		var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
		var separator = uri.indexOf('?') !== -1 ? "&" : "?";
		if (uri.match(re)) {
			return uri.replace(re, '$1' + key + "=" + value + '$2');
		}
		else {
			return uri + separator + key + "=" + value;
		}
	}



	$('#sensor_id').change(function(){
		new_url = updateQueryStringParameter(window.location.href,
			"sensor_id",
			$(this).children("option:selected").val());
		console.log(new_url);
		window.location = new_url;
	});

	$('#entries').change(function(){
		new_url = updateQueryStringParameter(window.location.href,
			"entries",
			$(this).children("option:selected").val());
		console.log(new_url);
		window.location = new_url;
	});
	
	$('.freq-btn').click(function(){
		new_url = updateQueryStringParameter(window.location.href,
			"freq",
			$(this).data("value"));
		console.log(new_url);
		window.location = new_url;
	});
	var day_data = []
	var week_data = []


	{% for sensor in sensorgraph_data %}
		{% if sensor.day_avg != None %}
			arr_data = {x: new Date("{{sensor.date.isoformat }}"),
						y: {{sensor.day_avg|floatformat:2}} }
			day_data.push(arr_data);
		{% endif %}

		{% if sensor.week_avg != None %}

		arr_data = {x: new Date("{{sensor.date.isoformat }}"),
					y: {{sensor.week_avg|floatformat:2}} }
		week_data.push(arr_data);

		{% endif %}

	{% empty %}

	{% endfor %}
	var ctx = document.getElementById("sensor-line-chart");
	ctx.height = 300;
	new Chart(ctx, {
		type: 'scatter',
		data: {
				datasets: [{
					label: 'Day Avg',
					borderColor: 'purple',
					fill: false,
					data: day_data,
					showLine: true,
					bezierCurve: true,
				}, {
				label: 'Week Avg',
					borderColor: 'blue',
					fill: false,
					data: week_data,
					showLine: true,
					bezierCurve: true,

				}]
			},
			options: {
			title: {
				display: false,
				text: 'Sensor Data Graph'
			},
			scales: {
				xAxes: [{
					type: 'time',
					time: {
						displayFormats:{
							month: 'DD MM YYY'
								}
						},
					distribution: 'linear',
				}]
			},
			responsive: true,
    		maintainAspectRatio: false

		}
	});
</script>
{% endblock %}






