{% extends './layout.html' %}

{% block content %}


<div class="masonry-item col-md-6 ta-c" style="position: relative; margin-left:auto; margin-right:auto;">
	<div class="bd bgc-white">
		<div class="layers">
			<div class="layer w-100 p-20">
				<h5>Permission Required</h5>
				<h6>Sorry you are not allowed to view this content</h6>
			</div>
		</div>
		<div class="ta-c bdT w-100 p-20">
			{% if access_granted %}
			<h6>Your request has been submitted and is pending</h6>
			{% else %}
			<form action="." method="post">
				{% csrf_token %}
				<button class="btn btn-primary"> Request Access</button>
			</form>
			{% endif %}
		</div>

	</div>
</div>

{% endblock %}