{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
	{% for data in uploaddata_list %}
	<div class="col-lg-4 col-md-6 col-sm-1 mB-10">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title">{{ data.name }}</h6>
				<p style="display:flex;">{{ data.description }}</p>
				<br>
				<div class="row">
					<div class="col-7">
							<a class="btn btn-primary" href="{% url 'datauploads:view-dataupload_detail' data.id %}">View data</a>
					</div>
					<div class="col-5 text-right">
						<small>Updated {{ data.update_date }}</small>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% empty %}
	<h6>No datas yet</h6>
	{% endfor %}
</div>
{% endblock %}