{% load staticfiles %}
{% load reports_extras %}
{% load datauploads_extras %}
{% load anomaly_detection_extras %}
{% load plotly_dash%}


<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<title>
	Dashboard</title>
	<style>
#loader{transition:all .3s ease-in-out;opacity:1;visibility:visible;position:fixed;height:100vh;width:100%;background:#fff;z-index:90000}#loader.fadeOut{opacity:0;visibility:hidden}.spinner{width:40px;height:40px;position:absolute;top:calc(50% - 20px);left:calc(50% - 20px);background-color:#333;border-radius:100%;-webkit-animation:sk-scaleout 1s infinite ease-in-out;animation:sk-scaleout 1s infinite ease-in-out}@-webkit-keyframes sk-scaleout{0%{-webkit-transform:scale(0)}100%{-webkit-transform:scale(1);opacity:0}}@keyframes sk-scaleout{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}} td{word-wrap: break-word;} </style>
<link href="{% static 'css/style.css' %}" rel="stylesheet">

{% block extra_head %}
{% endblock %}
{% if use_plotlydash %}
{% plotly_header %}


{% endif %}

</head>
<body class="app">
	<div id="loader">
		<div class="spinner">
		</div>
	</div>
	<script>
		window.addEventListener('load', () => {
			const loader = document.getElementById('loader');
			setTimeout(() =>
			{
				loader.classList.add('fadeOut');
			}, 300);
		});</script>

		<div>

			<div class="sidebar">


				<div class="sidebar-inner">


					<div class="sidebar-logo" style="padding: 2.5px 0px !important;">
						<div class="peers ai-c fxw-nw">
							<div class="peer peer-greed">
								<a class="sidebar-link td-n" href="{% url 'core:dashboard' %}">
									<div class="peers ai-c fxw-nw">
										<div class="peer">
											<div class="logo">
												<!-- <img src="{% static '/images/logo.png' %}" alt=""> -->
											</div>
										</div>
										<div class="peer peer-greed">
											<h5 class="lh-1 mB-0 logo-text ta-c">
											6c Solutions</h5>
										</div>
									</div>
								</a>
							</div>
							<div class="peer">
								<div class="mobile-toggle sidebar-toggle">
									<a href="" class="td-n">
										<i class="ti-arrow-circle-left">
										</i>
									</a>
								</div>
							</div>

						</div>
					</div>
					<ul class="sidebar-menu scrollable pos-r">
						<li class="nav-item mT-30 active">
							<a class="sidebar-link" href="{% url 'core:dashboard' %}">
								<span class="icon-holder">
									<i class="c-blue-500 ti-home">
									</i>
								</span>
								<span class="title">
								Home</span>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle" href="javascript:void(0);">
								<span class="icon-holder">
									<i class="c-orange-500 ti-pulse">
									</i>
								</span>
								<span class="title">
								Reports</span>
								<span class="arrow">
									<i class="ti-angle-right">
									</i>
								</span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="sidebar-link" href="{% url 'reports:view-report' %}">
									All Reports</a>
								</li>
								{% all_reports as report_list %}
								{% for report in report_list %}
								<li>
									<a class="sidebar-link" href="{% url 'reports:view-report_detail' report.id %}">
									{{ report.name }}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle" href="javascript:void(0);">
								<span class="icon-holder">
									<i class="c-teal-500 ti-layout-list-thumb">
									</i>
								</span>
								<span class="title">
								Experimentation</span>
								<span class="arrow">
									<i class="ti-angle-right">
									</i>
								</span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="sidebar-link" href="{% url 'experiments:create-experiment' %}">
									Create Experiment</a>
								</li>
								<li>
									<a class="sidebar-link" href="{% url 'experiments:list-experiments' %}">
									View Result</a>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle" href="javascript:void(0);">
								<span class="icon-holder">
									<i class="c-deep-orange-500 ti-infinite">
									</i>
								</span>
								<span class="title">
								Anomaly Detection</span>
								<span class="arrow">
									<i class="ti-angle-right">
									</i>
								</span>
							</a>
							<ul class="dropdown-menu">
<!-- 								<li>
									<a class="sidebar-link" href="">
									Add Anomaly Data</a>
								</li> -->
								<li>
									<a class="sidebar-link" href="{% url 'anomaly_detection:view-anomaly' %}">
									Overview</a>
								</li>

								
							{% all_anomalydata as anomaly_list %}
								{% for anomaly in anomaly_list %}
								<li>
									<a class="sidebar-link" href="{% url 'anomaly_detection:view-anomaly_detail' anomaly.id %}">
									{{ anomaly.sensor_id }}</a>
								</li>
								{% endfor %}

							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="dropdown-toggle" href="javascript:void(0);">
								<span class="icon-holder">
									<i class="c-deep-purple-500 ti-cloud-up">
									</i>
								</span>
								<span class="title">
								Data Upload</span>
								<span class="arrow">
									<i class="ti-angle-right">
									</i>
								</span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="sidebar-link" href="{% url 'datauploads:view-dataupload' %}">
									All Logs</a>
								</li>
<!-- 								<li>
									<a class="sidebar-link" href="{% url 'datauploads:upload-data' %}">
									Upload CSV</a>
								</li> -->
								{% all_datamethods as uploaddata_list %}
								{% for datauploaditem in uploaddata_list  %}
								<li>
									<a class="sidebar-link" href="{% url 'datauploads:view-dataupload_detail' datauploaditem.id %}">
									{{ datauploaditem.name }}</a>
								</li>
								{% endfor %}
							</ul>
						</li>
					{% if request.user.is_superuser %}
						<li class="nav-item">
							<a href="{% url 'ethanoladmin:view-admin' %}">
								<span class="icon-holder">
									<i class="c-deep-orange-500 ti-infinite">
									</i>
								</span>
								<span class="title">
									Admin / Staff</span>
								<span class="arrow">
									<i class="ti-angle-right">
									</i>
								</span>
							</a>
						</li>
					{% endif %}
					</ul>
				</div>
			</div>
			<div class="page-container">
				<div class="header navbar">
					<div class="header-container">
						<ul class="nav-left">
							<li>
								<a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);" style="padding-top: 5px;">
									<i class="ti-menu">
									</i>
								</a>
							</li>
<!-- 							<li>
								<a href="{% url 'core:report-bug' %}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
											<i class="ti-unlink mR-10"><span style="margin-left:.3em;">Report Bug</span>
											</i>
										</a>
							</li> -->
						{% if selected_sensor_count %}
						<li>
								<a href="javascript:void(0);" style="padding-top: 5px;">
									
									<span id="sensor_count" class="badge-secondary p-10">{{selected_sensor_count}}</span> Sensors Selected	</a>
							</li>
						{% endif %}
						</ul>
						<ul class="nav-right">
							{% if request.user.is_authenticated %}
							<li>
								<a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
									<div class="peer">
										<span class="fsz-sm c-grey-900">
										{{ request.user }}</span>
									</div>
								</a>
							</li>
							
							<li>
										<a href="{% url 'account_logout' %}" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
											<i class="ti-power-off mR-10"><span style="margin-left:.2em;">Logout</span>
											</i>
										</a>
									</li>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
				<main class="main-content bgc-grey-100">
					<div id="mainContent">

						{% block content %}
						{% endblock %}
					</div>
				</main>
				<footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
					<span>
						Copyright © 2019<a href="https://6csolutions.com" target="_blank" title="6csolutions">
						6c Solutions</a>
					. All rights reserved.</span>
				</footer>
			</div>
		</div>
		<script type="text/javascript" src="{% static '/js/vendor.js' %}">
		</script>
		<script type="text/javascript" src="{% static '/js/bundle.js' %}">
		</script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		    <!-- Moment.js -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

	    <!-- Tempus Dominus Bootstrap 4 -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
		{% block extra_js %}
		{% endblock %}

		{% if use_plotlydash %}
		 {% plotly_footer %}
		 <script type="text/javascript" src="{% static 'js/dash_bootstrap_components.min.js' %}"></script>
		 {% endif %}

	</body>
	</html>

